<article>
    <textarea class="border_line" readonly="readonly" rows="" cols="" style="width:100%;height:200px;color:#888">1. 총칙
정보통신산업진흥원(이하 "진흥원"이라 합니다)은 가입자의 프라이버시를 적극적으로 보호하며 “개인정보보호법”, "정보통신망 이용촉진 및 정보보호 등에 관한 법률" 등 진흥원에서 제공하는 홈페이지 서비스(이하 "서비스"라 합니다) 관련 개인정보보호 법규를 준수하기 위하여 개인정보처리방침을 제정하고 이를 준수하고 있습니다.
진흥원의 개인정보처리방침은 관련 법령, 지침 및 당사 내부 관리계획의 변경에 따라 변경될 수 있으며, 변경에 대해서는 관련 법령이 정하는 방법에 따라 고지하고 있습니다.
본 개인정보처리방침은 다음과 같은 내용을 담고 있습니다.
- 총칙
- 개인정보의 처리 목적
- 개인정보의 처리, 항목, 보유 기간
- 개인정보의 파기에 관한 사항
- 개인정보의 제3자 제공에 관한 사항
- 개인정보처리의 위탁에 관한 사항
- 가입자의 권리•의무 및 그 행사방법에 관한 사항
- 개인정보의 안전성 확보 조치에 관한 사항
- 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항
- 개인정보에 관한 민원서비스
- 부칙
2. 개인정보의 처리 목적
진흥원은 아래와 같은 목적으로 개인정보를 수집합니다. 정보주체가 제공한 모든 정보는 아래의 목적에 필요한 용도 이외로는 사용되지 않으며 이용 목적이 변경될 시에는 사전 동의를 구할 것입니다.
- 게시글 관리, 공지사항 전달
- 불만처리, 제안, 칭찬 등 민원처리
3. 개인정보의 처리, 항목, 보유 기간
① 진흥원은 '개인정보 보호법' 제15조 제1항의 각호에 따라 가입자의 동의를 받은 경우, 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우 등 아래와 같이 서비스 제공을 위하여 필요한 최소한의 개인정보를 수집합니다.
- 필수항목 : 성명, 가상주민번호(I-PIN), 전화번호, 휴대전화번호, 이메일, 주소
- 선택항목 : 직업, 회원구분 등
- 홈페이지를 이용한 서비스 신청 및 이용 : 신청자 정보, 서비스 이용 기록 , 접속 기록 등
② 진흥원은 정보주체로부터 별도로 동의를 받은 경우, 법령에서 요구하거나 허용하는 경우를 제외하고는 사상ㆍ신념, 노동조합ㆍ정당의 가입ㆍ탈퇴, 정치적 견해, 건강, 성생활 등에 관한 정보, 그 밖에 정보주체의 사생활을 현저히 침해할 우려가 있는 개인정보는 수집하지 않습니다.
③ 진흥원이 정보주체의 동의를 받아 개인정보를 수집하는 경우에는 아래와 같은 사항을 정보주체에게 알리고 동의 사항을 구분하여 정보주체가 이를 명확하게 인지할 수 있도록 동의를 받습니다.
- 개인정보의 수집•이용 목적
- 수집하려는 개인정보의 항목
- 개인정보의 보유 및 이용 기간
- 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용
④ '전자거래기본법' 제22조에 따라 정보주체의 공인인증서의 효력이 소멸된 날부터 10년동안 보관합니다.
4. 개인정보의 파기에 관한 사항
① 진흥원이 보유하고 있는 개인정보는 개인정보의 수집목적 또는 제공받은 목적이 달성되면 해당 개인정보를 지체 없이 파기합니다.
② 상기 조항에도 불구하고 관련 법령의 규정에 의하여 일정기간 보유해야 할 필요가 있을 경우에는 관련 법령에 따라 5년까지 보유할 수 있습니다.
 - 보존 항목: 서비스 이용기록, 접속 로그, 접속 IP 정보: 3개월(통신비밀보호법)
 - 표시/광고에 관한 기록: 6개월 (전자상거래등에서의 소비자보호에 관한 법률)
 - 계약 또는 철회 등에 관한 기록: 5년 (전자상거래등에서의 소비자보호에 관한 법률)
 - 대금결제 및 재화 등의 공급에 관한 기록: 5년 (전자상거래등에서의 소비자보호에 관한 법률)
 - 소비자의 불만 또는 분쟁처리에 관한 기록: 3년(전자상거래등에서의 소비자보호에 관한 법률)
5. 개인정보의 제3자 제공에 관한 사항
① 진흥원은 '개인정보 보호법' 제17조 제1항, 제2항에 따라 정보주체의 동의를 받은 경우, 법률에 특별한 규정이 있거나 법령상 의무를 준수하기 위하여 불가피한 경우 등은 가입자의 개인정보를 제3자에게 제공(공유를 포함합니다. 이하 같습니다)할 수 있습니다.
② 진흥원이 정보주체의 동의를 받아 개인정보를 제3자에게 제공하는 경우에는 아래와 같은 사항을 정보주체에게 알리고 동의를 받습니다.
- 개인정보를 제공받는 자
- 개인정보를 제공받는 자의 개인정보 이용 목적
- 제공하는 개인정보의 항목
- 개인정보를 제공받는 자의 개인정보 보유 및 이용 기간
- 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용
③ 진흥원은 개인정보를 본 방침 제3조에 따른 범위를 초과하여 이용하거나 본 방침 제5조에 따른 범위를 초과하여 제3자에게 제공하지 않습니다.
④ 진흥원은 아래의 어느 하나에 해당하는 경우에는 정보주체 또는 제3자의 이익을 부당하게 침해할 우려가 있을 때를 제외하고는 개인정보를 목적 외의 용도로 이용하거나 이를 제3자에게 제공할 수 있습니다. 다만, 진흥원은 개인정보를 제공받는 자에게 이용 목적, 이용 방법, 그 밖에 필요한 사항에 대하여 제한을 하거나, 개인정보의 안전성 확보를 위하여 필요한 조치를 마련하도록 요청합니다.
- 정보주체로부터 별도의 동의를 받은 경우
- 다른 법률에 특별한 규정이 있는 경우
- 정보주체 또는 그 법정대리인이 의사표시를 할 수 없는 상태에 있거나 주소불명 등으로 사전 동의를 받을 수 없는 경우로서 명백히 정보주체 또는 제3자의 급박한 생명, 신체, 재산의 이익을 위하여 필요하다고 인정되는 경우
- 통계작성 및 학술연구 등의 목적을 위하여 필요한 경우로서 특정 개인을 알아볼 수 없는 형태로 개인정보를 제공하는 경우
⑤ 진흥원이 전항의 동의를 받을 때에는 아래의 사항을 정보주체에게 알립니다.
- 개인정보를 제공받는 자
- 개인정보의 이용 목적(제공 시에는 제공받는 자의 이용 목적을 말한다)
- 이용 또는 제공하는 개인정보의 항목
- 개인정보의 보유 및 이용 기간(제공 시에는 제공받는 자의 보유 및 이용 기간을 말한다)
- 동의를 거부할 권리가 있다는 사실 및 동의 거부에 따른 불이익이 있는 경우에는 그 불이익의 내용
6. 개인정보처리의 위탁에 관한 사항
① 진흥원은 원활한 업무 수행을 위하여 다음과 같이 개인정보 처리 업무를 외부 전문업체에 위탁하여 운영하고 있으며, 개인정보보호의 안전을 기하기 위하여 위탁업무 수행 목적, 재위탁 제한에 관한 사항, 개인정보의 처리 금지에 관한 사항 및 수탁자가 준수하여야 할 의무를 위반한 경우의 손해배상 등 책임에 관한 사항, 개인정보의 기술적•관리적 보호조치에 관한 사항 등을 명확히 규정하여 위탁계약을 체결합니다. 아래의 수탁업체가 변경될 경우, 진흥원은 변경된 업체 명을 공지사항 내지 개인정보처리방침을 통해 고지하도록 하겠습니다.
- 위탁업무 : 본인인증, I-PIN
- 위탁을 받는자(수탁자) : NICE신용평가정보㈜
7. 정보주체의 권리•의무 및 그 행사방법에 관한 사항
① 정보주체는 진흥원이 처리하는 자신의 개인정보에 대한 열람•정정•삭제•처리정지를 진흥원에 요구할 수 있습니다.
② 진흥원은 전항의 열람을 요구 받았을 때에는 해당 개인정보를 열람할 수 있도록 합니다. 다만, 해당 기간 내에 열람할 수 없는 정당한 사유가 있을 때에는 정보주체에게 그 사유를 알리고 열람을 연기할 수 있으며, 그 사유가 소멸하면 지체 없이 열람하게 합니다.
③ 진흥원은 법률에 의하여 열람이 금지되는 등 '개인정보 보호법' 제35조 제4항의 각 호의 어느 하나에 해당하는 경우에는 정보주체에게 그 사유를 알리고 열람을 제한하거나 거절할 수 있습니다.
④ 자신의 개인정보를 열람한 정보주체는 진흥원에게 그 개인정보의 정정 또는 삭제를 요구할 수 있습니다. 다만, 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우 정보주체는 삭제를 요구할 수 없습니다.
⑤ 진흥원은 전항의 경우 다른 법령에 특별한 절차가 규정되어 있는 경우를 제외하고는 지체 없이 그 개인정보를 조사하여 정보주체의 요구에 따라 정정하거나 복구되지 않도록 삭제하는 등 필요한 조치를 합니다.
⑥ 정보주체는 진흥원에 대하여 자신의 개인정보 처리의 정지를 요구할 수 있고, 진흥원은 지체 없이 정보주체의 요구에 따라 개인정보 처리의 전부를 정지하거나 일부를 정지하여야 합니다. 다만, 진흥원은 법률에 특별한 규정이 있는 등 '개인정보 보호법' 제37조 제2항 각 호의 어느 하나에 해당하는 경우에는 그 사유를 정보주체에게 알리고, 정보주체의 처리정지 요구를 거절할 수 있습니다.
⑦ 정보주체는 본 방침 제7조 제2항, 제4항, 제6항의 요구(이하 "열람 등 요구"라 합니다)를 '개인정보 보호법 시행령' 제45조, 제46조에 따라 대리인에게 하게 할 수 있으며, 만 14세 미만 아동의 법정대리인은 진흥원에게 그 아동의 개인정보 열람 등 요구를 할 수 있습니다.
⑧ 진흥원은 열람 등 요구를 하는 자에게 '개인정보 보호법 시행령' 제47에 따라 수수료와 우송료(사본의 우송을 청구하는 경우에 한한다)를 청구할 수 있습니다.
- 열람 청구 절차
  • 청구인(정보주체) --- (서식에 따른 청구) --- 정보통신산업진흥원 개인정보보호 책임자 ---- 5일이내에 결정통지서 송부 --- 청구인(정보주체)
• 정보통신산업진흥원 개인정보보호 책임자 --- 청구 접수 후 10일 이내 --- 열람 시행
- 정정•삭제•처리정지 청구의 절차
• 청구인(정보주체 또는 대리인) *만14세 미만의 경우에는 그의 법정대리인이 청구인 --- 정정•삭제•처리정지 청구 --- 정보통신산업진흥원 개인정보보호책임자 --- 10일이내에 결정통지서 송부 --- 청구인(정보주체 또는 대리인)
• 정보통신산업진흥원 개인정보보호책임자 --- 청구 접수후 10일 이내 --- 정정•삭제•처리정지
8. 개인정보의 안전성 확보 조치에 관한 사항
① 진흥원은 가입자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 아래의 제2항 내지 제6항에 따라 기술적•관리적 대책을 강구하고 있습니다. 단, 다음의 기술적 대책에도 불구하고 해커의 침입 및 신종 바이러스 침투와 같은 사고 발생 당시의 기술로 예방, 조치할 수 없는 불가항력 사유로 인하여 발생한 개인정보의 분실, 도난, 누출, 변조 또는 훼손에 대하여는 가입자에게 책임을 지지 않습니다.
② 정보주체의 개인정보는 비밀번호에 의해 보호되며, 중요한 데이터는 암호화하는 등 별도의 보안기능을 통해 보호되고 있습니다.
③ 진흥원은 백신프로그램을 이용하여 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다. 백신프로그램은 주기적으로 업데이트되며 갑작스런 바이러스가 출현할 경우 백신이 나오는 즉시 이를 제공함으로써 개인정보가 침해되는 것을 방지하고 있습니다.
④ 진흥원은 암호알고리즘을 이용하여 네트워크 상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL 등)를 채택하고 있습니다.
⑤ 해킹 등에 의해 가입자의 개인정보가 유출되는 것을 방지하기 위해, 외부로부터의 침입을 차단하는 장치를 이용하고 있으며, 침입방지시스템을 설치하여 24시간 침입을 감시하고 있습니다.
⑥ 개인정보 관련 취급은 담당자를 두고, 별도의 비밀번호를 부여하여 접근 권한을 관리하는 등 개인정보 누출 등을 최소화 하며, 새로운 보안기술의 습득 및 개인정보보호 의무에 관해 정기적인 교육을 실시하고 있습니다.
⑦ 정보주체가 사용하는 ID와 비밀번호 등은 원칙적으로 정보주체만이 사용하도록 되어 있습니다. 진흥원은 정보주체의 개인적인 부주의로 ID, 비밀번호, 주민등록번호 등 개인정보가 유출되어 발생한 문제와 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다. 비밀번호에 대한 보안 의식을 가지고 비밀번호를 자주 변경하며 공용PC에서의 로그인시 개인정보가 유출되지 않도록 각별한 주의를 기울여 주시기 바랍니다.
9. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항
진흥원은 홈페이지 등을 이용하는 정보주체의 기본 설정정보를 보관하기 위하여 정보주체의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)' 등을 운용합니다. 쿠키란 웹사이트를 운영하는데 이용되는 서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로서 가입자의 컴퓨터 하드디스크에 저장되기도 합니다.
* 정보주체는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 정보주체는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
- 쿠키 설정 거부 방법
* 예: 쿠키 설정을 거부하는 방법으로는 정보주체가 사용하는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할 수 있습니다.
* 설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 &gt; 인터넷 옵션 &gt; 개인정보. 단, 쿠키 설치를 거부하였을 경우 로그인이 필요한 일부 서비스 이용에 어려움이 있을 수 있습니다.
10. 개인정보에 관한 민원서비스
진흥원은 정보주체의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보관리책임자를 지정하고 있습니다.
정보주체는 진흥원의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보보호책임자에게 신고하실 수 있습니다. 진흥원은 정보주체의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
- 개인정보보호 책임자
- 침해신고 절차
• 신고인 --- 개인정보침해신고 --- 정보통신산업진흥원 개인정보보호책임자 --- 7일이내 답변, 조사가 필요한 경우 30일이내 조사결과 송부 --- 신고인
기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
- 개인정보침해신고센터 : (국번없이)118 , http://privacy.kisa.or.kr
- 개인정보보호마크인증위원회 : 02-580-0533~4 , http://www.eprivacy.or.kr
- 대검찰청 인터넷범죄수사센터 : 02-3480-3600 , http://www.spo.go.kr/user.tdf?a=user.pm.PmApp&amp;seq=1923&amp;chungcd=01000000&amp;catmenu=110000&amp;c=1001
- 경찰청 사이버테러대응센터 : 02-392-0330 , http://www.ctrc.go.kr
부칙
이 개인정보처리방침은 2011년 9월 30일부터 적용되며, 법령/정책 또는 보안기술의 변경에 따라 내용의 추가/삭제 및 수정이 있을 시에는 변경사항의 시행일의 15일 전부터 홈페이지의 공지사항을 통하여 고지할 것 입니다.
개인정보취급방침 버전번호 : 2.0
개인정보취급방침 시행일자 : 2004년 11월 19일
개인정보처리방침 변경공고일자 : 2011년 09월 30일

				</textarea>
</article>