{% extends "registration/_account.html" %}
{% block formContents %}
    <div id="loginForm">
        <h1>Podium for SW_Maestro</h1>
        <div class="content_wrap pui">
            <div class="box">
                <div class="text">
                    <h4>받은 메일에서 활성화 시켜주세요!</h4>
                    <a href="/accounts/login">로그인 페이지로</a>
                    <div class="tooltip-parent tooltip-hover">
                        <span class="tooltip tooltip-bottom">글쎄 그게... 재발송이 아직 안돼!</span>
                        <h5 style="text-align: right">메일이 안왔다구요?</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block add_scripts %}
{% endblock %}