{% extends "registration/_account.html" %}
{% block formContents %}
    <section>
        <div id="signupForm">
            <div class="p_container">
                <header id="signupTitle">
                    <hgroup>
                        <h1>Podium for SW_Maestro</h1>
                        <h2>회원가입</h2>
                    </hgroup>
                </header>
                <h3 class="formTitle">약관</h3>
                <h4 class="formTitle">이용약관</h4>
                <div class="agreementForm">
                    {% include "registration/eula.html" %}
                </div>
                <p class="agreementCheckbox"><input type="checkbox" name="agree_eula" id="agree_eula"><label for="agree_eula">이용약관에 동의합니다.</label></p>
                <h4 class="formTitle">개인정보 보호정책</h4>
                <div class="agreementForm">
                    {% include "registration/privacy.html" %}
                </div>
                <p class="agreementCheckbox"><input type="checkbox" name="agree_privacy" id="agree_privacy"><label for="agree_privacy">개인정보 보호정책에 동의합니다.</label></p>
                <h3 class="formTitle">필수 정보 입력</h3>
                <form method="post" action=".">{% csrf_token %}
                    <ul id="signupField">
                        {{ form.as_ul }}
                    </ul>
                    <input type="submit" value="가입하기"/>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block add_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#id_username").attr("placeholder","your name");
            $("#id_email").attr("placeholder","your e-mail");
            console.log( "ready!" );
        });
        </script>
{% endblock %}