body { background:#424b4a; }

#loginForm { background:#f0f0f0; padding:59px; width:340px; height:260px; top:50%; left:50%; margin-top:-190px; margin-left:-230px; position:absolute; border:1px #eaeaea solid; box-shadow:0px 1px 1px rgba(0,0,0,0.33); border-radius:10px; position:relative; }

    #loginForm h1 { height:0px; padding-top:75px; margin-bottom:10px; background-image:url(../images/login_logo.png); background-repeat:no-repeat; background-size:340px 75px; background-position:0 0; overflow:hidden; }

    #loginForm input[type="text"], #loginForm input[type="password"] { border:1px #e0e0e0 solid; background:#fff; padding:4px 14px; height:30px; width:310px; display:block; line-height:30px; margin-bottom:10px; border-radius:5px; font-size:16px; }

    #loginForm input[type="submit"] { border:1px #e0e0e0 solid; background:#63bab0; color:#fff; display:block; height:40px; width:340px; border-radius:5px; cursor:pointer; font-size:16px; font-weight:bold; }
    #loginForm input[type="submit"]:hover { background:#38978c; }
    #loginForm input[type="submit"]:active { box-shadow:inset 0 2px 5px rgba(0,0,0,0.3); }

    #loginForm.error input[type="text"], #loginForm.error input[type="password"] { background:#f6d6d6 !important; border-color:#ee9999 !important; box-shadow:inset 0px 2px 5px #f6e3e3 !important; }

    #loginForm .errorMessage { position:absolute; top:244px; height:40px; width:340px; text-align:center; color:#fff; line-height:40px; border-radius:5px; background:#e15858 }


#signupForm { width:640px; background:#fff; border-radius:10px; box-shadow:0px 1px 1px rgba(0,0,0,0.33); margin:30px auto; }

    #signupForm .p_container { padding:30px; }

    #signupForm #signupTitle { height:75px; padding-bottom:20px; border-bottom:3px #ddd solid; margin-bottom:20px; }

    #signupForm #signupTitle h1 { width:310px; height:0px; padding-top:75px; margin:0 25px 0 60px; background-image:url(../images/login_logo.png); background-repeat:no-repeat; background-size:340px 75px; background-position:-20px 0; overflow:hidden; float:left; border-right:2px #eaeaea solid; clear:none; }

    #signupForm #signupTitle h2 { font-size:1.72em; padding:10px 0; clear:none; line-height:60px; color:#888; font-weight:100; letter-spacing:-0.05em; }

    #signupForm h3.formTitle { color:#38978c; margin-top:30px; font-size:1.29em; letter-spacing:-1px; border-bottom:1px #dadada solid; margin-bottom:10px; }
    #signupForm h4.formTitle { color:#8e8e8e; font-size:0.86em; margin:10px 0 5px; }

    #signupForm .agreementForm { border:1px #eaeaea solid; padding:14px; height:170px; overflow-y:scroll; margin-bottom:5px; }

    #signupForm .agreementCheckbox { text-align:right; }


    #signupField label { width:110px; padding-left:10px; display:inline-block; }
    #signupField > li { padding:5px 0; border-bottom:1px #e0e0e0 solid; position:relative; }
    #signupField > li:nth-child(even) { background:#f0f0f0; }
    #signupField .errorlist { top:7px; position:absolute; left:390px; font-size:12px; font-weight:bold; border-radius:3px; background:rgba(0,0,0,0.7); border:1px #333 solid; width:auto; padding:0 10px; text-shadow:none; color:#fff; text-align: right; white-space: nowrap; text-shadow:0 1px 0 #000; line-height:23px; }

    #signupField input[type="text"], #signupField input[type="password"] { border:1px #e0e0e0 solid; background:#fff; padding:4px 9px; height:20px; width:240px; line-height:20px; border-radius:5px; }

    #signupForm input[type="submit"] { border:1px #e0e0e0 solid; background:#63bab0; color:#fff; display:block; height:40px; width:240px; border-radius:5px; cursor:pointer; font-size:16px; font-weight:bold; margin:30px auto 0; }
    #signupForm input[type="submit"]:hover { background:#38978c; }
    #signupForm input[type="submit"]:active { box-shadow:inset 0 2px 5px rgba(0,0,0,0.3); }