.pui h1 { font-size:36px; }
.pui h2 { font-size:24px; }
.pui h3 { font-size:18px; }
.pui h4 { font-size:14px; }
.pui h5 { font-size:12px; }
.pui h6 { font-size:10px; }

.pui .head { margin-bottom:20px; }

.pui .box { border:1px #eaeaea solid; box-shadow:0px 2px 2px rgba(0,0,0,0.2); background:#fff; border-radius:5px; }

.pui code { padding:3px; border-radius:3px; border:1px #eaeaea solid; background:#f0f0f0; font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Lucida Console',Consolas,monospace; font-size:0.86em; }
.pui pre { padding:9px; border-radius:3px; border:1px #eaeaea solid; background:#f0f0f0; }
.pui pre code { padding:0; border-radius:0; border:none; }

.pui .text-left { text-align: left; }
.pui .text-center { text-align: center; }
.pui .text-right { text-align: right; }

.pui .box > .text { padding:15px; }
.pui .text p { margin-bottom:10px; }
.pui .text h1, .pui .text h2, .pui .text h3, .pui .text h4, .pui .text h5, .pui .text h6 { margin:10px 0; border-bottom:1px #dadada solid; }

.pui .desc { color:#888; }

.pui .autocomplete, .pui .dropdown { border-radius:5px; box-shadow:0 1px 2px rgba(0,0,0,0.3); }
.pui .autocomplete li { background:#f0f2f4; border-bottom:1px #ddd solid; }
.pui .autocomplete li:first-child, .pui .dropdown li:first-child { border-top-left-radius: 5px; border-top-right-radius: 5px; }
.pui .autocomplete li:last-child,  .pui .dropdown li:last-child { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom:none; }
.pui .autocomplete li a, .pui .dropdown li a { color: #555555; display: block; font-weight: bold; padding: 6px 15px; cursor: pointer; text-decoration:none; }
.pui .autocomplete li:hover, .pui .dropdown li:hover { background:#e9eaec; }

.pui .dropdown_wrapper { position:relative; }
.pui .open_dropdown {  }
.pui .dropdown { display:none; }
.pui .dropdown li { background:#fff; border-bottom:1px #ddd solid; }

.pui .tooltip-parent { position:relative; }
.pui .tooltip-parent .tooltip { position:absolute; display:inline-block; }
.pui .tooltip-parent .tooltip-top { top:-30px; left:50%; }
.pui .tooltip-parent .tooltip-bottom { bottom:-30px; left:50%;  }
.pui .tooltip-parent .tooltip-left, .pui .tooltip-parent .tooltip-right { top:50%; }

.pui .tooltip-hover .tooltip { display:none; border-radius:3px; background:rgba(0,0,0,0.7); border:1px #333 solid; width:auto; padding:0 10px; text-shadow:none; color:#fff; white-space: nowrap; text-shadow:0 1px 0 #000; line-height:23px; }
.pui .tooltip-hover:hover .tooltip { display:inline-block; }

.pui .btn { padding:5px 10px; background:#76bab2; border:1px #38978c solid; border-radius:3px; color:#fff; cursor:pointer; line-height:1.3; }
.pui .btn:hover { background:#38978c }
.pui .btn:active { box-shadow: inset 0px 1px 2px rgba(0,0,0,0.25); }

.pui.modalWrapper { background:rgba(0,0,0,0.5); position:absolute; width:100%; height:100%; top:0; z-index:1000; }
.pui.modalWrapper .modalMargin { height:50%; }
.pui.modalWrapper .modalBox { background:#fff; margin:0 auto; padding:15px; border-radius:3px; box-shadow:0px 2px 5px rgba(0,0,0,0.3); }
.pui.modalWrapper .modalBox .closeModal { width:30px; height:30px; text-indent:-5000px; background:url(../images/modal_close.png) 50% 50% no-repeat; background-size:20px 20px; float:right; }
.pui.modalWrapper .modalBox h2 { font-weight:200; border-bottom:1px #ddd solid; margin-bottom:10px; padding-bottom:5px; line-height:1.3; }
.pui.modalWrapper .modalBox .desc { font-size:0.86em; line-height:1.4; margin-bottom:15px; }

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .pui.modalWrapper .modalBox .closeModal { background-image:url(../images/modal_close@2x.png); }
}