<h2>CHATTING USERS</h2>
<ul id="login_user_list" class="userList">
    {% for user_in_list in users %}
        <li><a class="openChat" title="{{ user_in_list.username }}" id="open_chat{{ user_in_list.id }}"
               href="#">{{ user_in_list.username }}</a></li>
    {% endfor %}
</ul>

<script src="http://localhost:4000/socket.io/socket.io.js"></script>
<script type="text/javascript">

    $(".openChat").click(function () {
        var dataString = $(this).attr("id").substring(9);
        $.ajax({
            type: 'GET',
            url: '/invite_chat',
            data: 'chatting_user=' + dataString,
            success: function (data) {
                $('#p_chatBoxContainer').append($(data));
                socket_chat_connection($(data).attr("id"));
                $('#p_chatBoxContainer #' + $(data).attr("id") + " ul").scrollTop(100000000);
            },
            error: function () {
                console.error(arguments);
            }
        });
    });

    var invited_chat = setInterval(function () {
        $.ajax({
            type: 'GET',
            url: '/invited_chat',
            success: function (data) {
                if (data != "0") {
                    $('#p_chatBoxContainer').append($(data));
                    socket_chat_connection($(data).attr("id"));
                    $('#p_chatBoxContainer #' + $(data).attr("id") + " ul").scrollTop(100000000);
                }
            },
            error: function (data) {
                console.log("invited_chat error [response] = [" + data + "]");
            }
        });
    }, 5000);

    var socket_chat_connection = (function (roomid) {
        var socket = io.connect('localhost', {port: 4000, 'force new connection': true});

        socket.on('connect', function () {
            console.log("socket connect");
        });

        socket.on('disconnected', function () {
            socket.emit('disconnected_check', 'user out');
        });

        var entry_el = $("#" + roomid + ' input.comment_entry');
        var userId = $("#" + roomid + ' input.user_id');
        var userName = $("#" + roomid + ' input.user_name');
        var room = roomid.substring(8);
        var join_info = {room_name: room, user_id: userId.val(), username: userName.val()};

        socket.emit('join', join_info);

        socket.on('message', function (message) {
            var receive_data = message.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            console.log('roomid : ' + roomid);
            $('#' + roomid + ' ul').append('<li>' + receive_data + '</li>');
            $('#' + roomid + ' ul').scrollTop(1000000000);
            entry_el.focus();
        });

        socket.on('my_message', function (message) {
            var my_data_check = message.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            $('#' + roomid + ' ul').append('<li>' + my_data_check + '</li>');
            $('#' + roomid + ' ul').scrollTop(1000000000);
            entry_el.focus();
        });

        socket.on('user_out', function (message) {
            var out_user_data = message.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            console.log(data);
            $('#' + roomid + ' ul').append('<li>' + out_user_data + '</li>');
            $('#' + roomid + ' ul').scrollTop(1000000000);
            entry_el.focus();
        });

        entry_el.keypress(function (event) {
            if (event.keyCode != 13) return;
            var value = entry_el.val();
            room = $(this).parent().attr("id").substring(8);
            var msg = {room_name: room, user_id: userId.val(), type: 'chat', message: entry_el.val(), user_name: userName.val()} //user 사진 작게
            if (msg) {
                socket.emit('send_message', msg, function (data) {
                    console.log('send message to server [message] = [' + data + ']');
                });
                entry_el.val("");
            }
        });
    });
</script>