<h2>CHATTING USERS</h2>
<ul id="login_user_list" class="userList">
{#    {% for user_in_list in users %}#}
{#        {% if user_in_list.id != user.id %}#}
{#            <li>#}
{#                <a class="openChat" title="{{ user_in_list.username }}" id="open_chat{{ user_in_list.id }}" href="#">#}
{#                    {% with user_in_list.userpictures_set.all|first as userpicture %}#}
{#                        {% if userpicture %}#}
{#                            <img src="{{ userpicture.picture }}" alt="{{ userpicture.name }}" class="chatPicture" />#}
{#                        {% else %}#}
{#                            <img src="{{ STATIC_URL }}images/user_defaultProfile.jpg" alt="기본 프로필 사진" class="chatPicture" />#}
{#                        {% endif %}#}
{#                    {% endwith %}#}
{#                    <span class="username">{{ user_in_list.username }}</span>#}
{#                </a>#}
{#            </li>#}
{#        {% endif %}#}
{#    {% endfor %}#}
    <form id="chat_request_form" method="post" action="">{% csrf_token %}
        <input type="text" id="chat_search_friend">
        <input type="button" value="완료">
    </form>
</ul>

<script src="http://localhost:4000/socket.io/socket.io.js"></script>
<script type="text/javascript">
    $('#chat_request_form').click(function(){
        var friend_ids = [];
        var friend_count = 0;
        $('.chat_search_results').each(function(){
            console.log($(this).val());
            friend_ids.push($(this).val());
            friend_count++;
        });
        friend_count++;
        console.log(friend_ids);
        var request_data = JSON.stringify({
            "participants": friend_ids,
            "participants_count": friend_count
        });
        $.ajax({
            type: 'POST',
            url: '/api/v1/chat_room/',
            contentType: "application/json",
            dataType: 'json',
            data: request_data ,
            success: function (data) {
                if (data != "0") {
                    console.log("room" + data.id);
                    console.log("user" + data);
                    console.log(data.chat_room_name);
                    console.log(data.participants[0]);

                    //$('#p_chatBoxContainer').append($(data.id));
                    //socket_chat_connection(data.id);
                    //$('#p_chatBoxContainer #' + $(data.id).attr("id") + " ul").scrollTop(100000000);

                    //$('#' + $(data.id).attr("id")).show();
                    //console.log($(data.id).attr("id"));
                }
                else {
                    console.log(data.id);
                }
            },
            error: function () {
                console.error(arguments);
            }
        });
        // ajax here
        return false;
    });

    $('#chat_search_friend').select2({
        placeholder: "초대할 친구를 찾아보세요!",
        minimumInputLength: 2,
        multiple: true,
        ajax: {
            url: '/api/v1/user/search/',
            dataType: 'json',
            data: function(term, page) {
                return {
                    q: term,
                    page_limit: 10
                };
            },
            results: function(data, page) {
                return {
                    results: data.objects
                };
            }
        },
        formatResult: formatResult,
        formatSelection: formatSelection
    });

    // message 창을 열지 말지 결정
    var messageOpen = false;
    var isChatSearchOn = false;

    $("#chat_search_friend").on("select2-open", function(){
        isChatSearchOn = true;
    });

    $("#chat_search_friend").on("select2-blur", function(){
        isChatSearchOn = false;
        closeChatBar();
    })

    $(function(){

        $("#p_messages").hover(function(){
            // #p_message에 mouseover시 창 열기
            $("#p_messages").width("210px");
            $("#p_messages>.p_container, #p_messages>.jspContainer, #p_messages>.jspPane").width("223px");
            $("#p_timeline").css("margin-right","210px");
            messageOpen=true;
        }, function(){
            closeChatBar();
        });
    });

    function closeChatBar(){
        // 마우스가 떠났을 때
        if(!isChatSearchOn) messageOpen=false;

        // 0.5초 안에 messageOpen이 true가 되지 않으면 창을 닫는다
        setTimeout(function(){
            if(!messageOpen) {
                $("#p_messages").width("75px");
                $("#p_messages>.p_container, #p_messages>.jspContainer, #p_messages>.jspPane").width("88px");
                $("#p_timeline").css("margin-right","75px");
            }
        }, 500);
    }

    function formatResult(node) {
        return '<div>'+node.username+'</div>';
    };

    function formatSelection(node) {
        return '<div><input type="hidden" class="chat_search_results" value=' + node.id + '></input></div>';
    };

    $(".invite_people").click(function () {
        alert("초대한다 너를");
        $.ajax({//여기서 유저 정보와 내정보를 보내 방이 있는지 없는지를 판별하여 만든다. 
        });
    });
    $(".openChat").click(function () {
        var dataString = $(this).attr("id").substring(9);
        $.ajax({
            type: 'GET',
            url: '/invite_chat',
            data: 'chatting_user=' + dataString,
            success: function (data) {
                if (data != "0") {
                    if ($('#' + $(data).attr("id")).is(':visible')) {
                        console.log('hide');
                        $('#' + $(data).attr("id")).hide();
                    }
                    else {
                        console.log($(data).attr("id"));
                        console.log(document.getElementById($(data).attr("id")));
                        if (document.getElementById($(data).attr("id")) == null) {
                            $('#p_chatBoxContainer').append($(data));
                            socket_chat_connection($(data).attr("id"));
                            $('#p_chatBoxContainer #' + $(data).attr("id") + " ul").scrollTop(100000000);
                        }
                        $('#' + $(data).attr("id")).show();
                        console.log($(data).attr("id"));
                    }
                }
                else {
                    console.log('testets');
                    if ($('#' + $(data).attr("id")).is(':visible')) {
                        console.log('hide');
                        $('#' + $(data).attr("id")).hide();
                    }
                    else {
                        $('#' + $(data).attr("id")).show();
                    }
                }
            },
            error: function () {
                console.error(arguments);
            }
        });
    });

    var invited_chat = setInterval(function () {
        $.ajax({
            type: 'GET',
            url: '/invited_chat',
            success: function (data) {
                if (data != "0") {
                    if ($('#' + $(data).attr("id")).is(':visible')) {
                        console.log('hide');
                        $('#' + $(data).attr("id")).hide();
                    }
                    else {
                        console.log($(data).attr("id"));
                        console.log(document.getElementById($(data).attr("id")));
                        if (document.getElementById($(data).attr("id")) == null) {
                            $('#p_chatBoxContainer').append($(data));
                            socket_chat_connection($(data).attr("id"));
                            $('#p_chatBoxContainer #' + $(data).attr("id") + " ul").scrollTop(100000000);
                        }
                        $('#' + $(data).attr("id")).show();
                        console.log($(data).attr("id"));
                    }
                }
                else {
                    if ($('#' + $(data).attr("id")).is(':visible')) {
                        console.log('hide');
                        $('#' + $(data).attr("id")).hide();
                    }
                    else {
                        $('#' + $(data).attr("id")).show();
                    }
                }
            },
            error: function (data) {
                console.log("invited_chat error [response] = [" + data + "]");
            }
        });
    }, 100000);

    var socket_chat_connection = (function (roomid) {
        var socket = io.connect('localhost', {port: 4000, 'force new connection': true});

        socket.on('connect', function () {
            console.log("socket connect");
        });

        socket.on('disconnected', function () {
            socket.emit('disconnected_check', 'user out');
        });

        var entry_el = $("#" + roomid + ' input.comment_entry');
        var userId = $("#" + roomid + ' input.user_id');
        var userName = $("#" + roomid + ' input.user_name');
        var room = roomid.substring(8);
        var join_info = {room_name: room, user_id: userId.val(), username: userName.val()};

        socket.emit('join', join_info);

        socket.on('message', function (message) {
            var receive_data = message.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            console.log('roomid : ' + roomid);
            $('#' + roomid + ' ul').append('<li>' + receive_data + '</li>');
            $('#' + roomid + ' ul').scrollTop(1000000000);
            entry_el.focus();
        });

        socket.on('my_message', function (message) {
            var my_data_check = message.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            $('#' + roomid + ' ul').append('<li>' + my_data_check + '</li>');
            $('#' + roomid + ' ul').scrollTop(1000000000);
            entry_el.focus();
        });

        socket.on('user_out', function (message) {
            var out_user_data = message.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            $('#' + roomid + ' ul').append('<li>' + out_user_data + '</li>');
            $('#' + roomid + ' ul').scrollTop(1000000000);
            entry_el.focus();
        });

        entry_el.keypress(function (event) {
            if (event.keyCode != 13) return;
            var value = entry_el.val();
            room = $(this).parent().attr("id").substring(8);
            var msg = {room_name: room, user_id: userId.val(), type: 'chat', message: entry_el.val(), user_name: userName.val()} //user 사진 작게
            if (msg) {
                socket.emit('send_message', msg, function (data) {
                    console.log('send message to server [message] = [' + data + ']');
                });
                entry_el.val("");
            }
        });
    });
</script>