{% extends "_base.html" %}

{% block title %}
    {{ page_title  }}
{% endblock %}

{% block content %}
    <section id="p_timeline">
        <div class="p_container pui">
            <div class="box">
                <div class="text">
                    <p>그룹 생성</p>
                    <form id="form_post" method="post" action="">{% csrf_token %}
                        <pre>
                        <label class="text">그룹이름</label><input type="text" name="group_name">
                        <label class="text">설명</label><textarea class="postFormText" name="description" placeholder="멤버들에게 소식을 전하세요."></textarea>
                        <label class="text">프로젝트?</label><input type="checkbox" name="is_project">
                        <label class="text">공개범위</label>
                        <select name="open_scope">
                            <option value="open">모두에게 공개</option>
                            <option value="semi-open">멤버들에게만 공개</option>
                            <option value="close">비공개</option>
                        </select>
                        <label class="text">멤버추가</label><input type="text" id="group_search_friend" style="width: 300px"></pre>
                        <div class="text-center">
                            <div id="group_response" class="tooltip-parent tooltip-hover">
                                <input class="btn tooltip-parent tooltip-hover" type="submit" name="group_submit" value="생성">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block add_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/group_create.js"></script>
    <script type="text/javascript">
        $('#group_search_friend').select2({
            placeholder: "초대할 친구를 찾아보세요!",
            minimumInputLength: 2,
            multiple: true,
            ajax: {
                url: '/api/v1/user/search/',
                dataType: 'json',
                data: function(term, page) {
                    return {
                        q: term,
                        page_limit: 10
                    };
                },
                results: function(data, page) {
                    return {
                        results: data.objects
                    };
                }
            },
            formatResult: formatResult,
            formatSelection: formatSelection
        });

        function formatResult(node) {
            return '<div>' + node.username + '</div>';
        };

        function formatSelection(node) {
            return '<div class="group_request_member_selected" value='+node.id+'>' + node.username + '</div>';
        };
    </script>
{% endblock %}