<script id="post_public_template" type="text/x-jquery-tmpl">
    <div class="p_tItem p_container pui
    {% templatetag openblock %}if post.group != null{% templatetag closeblock %}
        project
    {% templatetag openblock %}/if{% templatetag closeblock %}

    {% templatetag openblock %}if post.open_scope == 1{% templatetag closeblock %}
        private
    {% templatetag openblock %}else{% templatetag closeblock %}
        public
    {% templatetag openblock %}/if{% templatetag closeblock %}
    ">
        <a href="/people/${ post.user.id }" class="p_tUser">
            <span class="nav_profile">
                {% templatetag openblock %}if post.user.user_photo.length > 0{% templatetag closeblock %}
                    <img src="${ post.user.user_photo[0].picture }" alt="${ post.user.user_photo[0].name }" class="userPicture"/>
                {% templatetag openblock %}else{% templatetag closeblock %}
                    <img src="{{ STATIC_URL }}images/user_defaultProfile.jpg" alt="기본 프로필 사진" class="userPicture"/>
                {% templatetag openblock %}/if{% templatetag closeblock %}
            </span>
        </a>
        <div class="p_tBox">
            <article class="p_tArticle">
                <div class="p_container">
                    <p class="p_tUserName">
                        <a href="/people/${ post.user.id }">${ post.user.username }</a>
                        {% templatetag openblock %}if post.open_scope == 1 && post.target_user && post.target_user.id != post.user.id{% templatetag closeblock %}
                            > <a href="/people/${ post.target_user.id }">${ post.target_user.username }</a>
                        {% templatetag openblock %}/if{% templatetag closeblock %}

                        {% templatetag openblock %}if post.open_scope == 2{% templatetag closeblock %}
                            > <a href="/people/${ post.target_user.id }">${ post.target_user.username }</a>
                        {% templatetag openblock %}/if{% templatetag closeblock %}

                        {% templatetag openblock %}if post.open_scope == 3{% templatetag closeblock %}
                            > <a href="/group/${ post.group.id }">${ post.group.group_name }</a>
                        {% templatetag openblock %}/if{% templatetag closeblock %}
                    </p>
                    <div class="p_tText">
                        {% templatetag openblock %}html post.post{% templatetag closeblock %}
                    </div>
                    {% templatetag openblock %}if post.attachment_type == 2{% templatetag closeblock %}
                        <div id="video-${ post.id }" class="p_attachment p_video_unloaded">
                        </div>
                    {% templatetag openblock %}/if{% templatetag closeblock %}

                    {% templatetag openblock %}if post.attachment_type == 3{% templatetag closeblock %}
                        <div id="file-${ post.id }" class="p_attachment p_file_unloaded">
                        </div>
                        <div class="p_approval">
                        {% templatetag openblock %}if post.open_scope == 3 && post.group.group_name == "사무국" && post.writer_permission{% templatetag closeblock %}
                            {% templatetag openblock %}if post.permission > 0{% templatetag closeblock %}
                                <div id="approval-${ post.id }" class="p_attachment p_approval_manager_unloaded">
                                    사무국 목록
                                    {% templatetag openblock %}if typeof (post.approvals) != "undefined"{% templatetag closeblock %}
                                        <ul>
                                        {% templatetag openvariable %}each(i, obj) post.approvals{% templatetag closevariable %}
                                           <li>${ obj.username } : <a href="${ obj.file_link }">${ obj.file_name }</a>
                                                <span>제출일시: ${ obj.created }</span>
                                           {% templatetag openblock %}if obj.updated != null{% templatetag closeblock %}
                                                <span>수정일시: ${ obj.updated }</span>
                                           {% templatetag openblock %}/if{% templatetag closeblock %}
                                           </li>
                                        {% templatetag openvariable %}/each{% templatetag closevariable %}
                                        </ul>
                                    {% templatetag openblock %}/if{% templatetag closeblock %}
                                </div>
                            {% templatetag openblock %}/if{% templatetag closeblock %}

                            {% templatetag openblock %}if post.permission == 0{% templatetag closeblock %}
                                {% templatetag openblock %}if typeof (post.approval) == "undefined"{% templatetag closeblock %}
                                    <div id="approval-${ post.id }" class="p_attachment p_approval_member_unloaded">
                                        <div id="attach_center_file">
                                            <input id="post_center_file" type="file" onchange="s3_upload_center();"></input>
                                            <button id="post_center_file_delete_button" onclick="s3_upload_delete_center()">Cancel Uploaded File</button>
                                            <button id="post_center_file_submit_button" onclick="s3_center_file_submit()">Submit</button>
                                        <div>
                                        <div id="center_status">Please select a file</div>

                                        <div id="attach_center_file_info">
                                            <input type="hidden" id="post_center_file_url_info" value=""></input>
                                        </div>
                                        <div id="attach_center_file_type">
                                            <input type="hidden" id="post_center_file_type" value=""></input>
                                        </div>
                                        <div id="attach_center_is_file">
                                            <input type="hidden" id="post_center_is_file" value="0"></input>
                                        </div>
                                        <div id="attach_center_friend_id">
                                            {% templatetag openblock %}if typeof (friend_post_key) == "undefined"{% templatetag closeblock %}
                                                <input type="hidden" id="post_center_friend_key" value="${ id }"></input>
                                            {% templatetag openblock %}else{% templatetag closeblock %}
                                                <input type="hidden" id="post_center_friend_key" value="${ friend_post_key }"></input>
                                            {% templatetag openblock %}/if{% templatetag closeblock %}
                                        </div>
                                        <div id="attach_center_file_count">
                                            <input type="hidden" id="post_center_file_count" value="soma_${ post.id }"></input>
                                        </div>
                                        <div id="attach_center_file_name">
                                            <input type="hidden" id="post_center_file_name" value="파일 이름"></input>
                                        </div>
                                    </div>
                                {% templatetag openblock %}else{% templatetag closeblock %}
                                    <div class="p_attachment >
                                        <a href="${ post.approval.file_link }">${ post.approval.file_name }</a>
                                        <input type="button" value="수정"></input>
                                    </div>
                                {% templatetag openblock %}/if{% templatetag closeblock %}
                            {% templatetag openblock %}/if{% templatetag closeblock %}

                        {% templatetag openblock %}/if{% templatetag closeblock %}
                        </div>
                    {% templatetag openblock %}/if{% templatetag closeblock %}

                    {% templatetag openblock %}if post.attachment_type == 4{% templatetag closeblock %}
                        <ul id="poll-${ post.id }" class="p_attachment p_poll_unloaded">
                        </ul>
                    {% templatetag openblock %}/if{% templatetag closeblock %}
                    <p class="p_tPermalink public"><a class="timestamp" href="/post/${ post.id }/"><abbr class="timeago" title=${ post.created }></abbr></a></p>
                </div>
            </article>
            <aside class="p_tAside">
                <header class="p_responses">
                    <div class="p_container">
                        <p class="p_emotion"><a href="#"><strong>좋아요</strong>/ <span id="emotion_count_e1_${ post.id }">${ post.emotion_e1_count }</span></a></p>
                        <p class="p_emotion"><a href="#"><strong>멋져요</strong>/ <span id="emotion_count_e2_${ post.id }">${ post.emotion_e2_count }</span></a></p>
                        <p class="p_comment"><a href="#"><strong>댓글</strong>/ ${ post.comment_count }</a></p>
                    </div>
                </header>
                <section class="p_emotion">
                    <div class="p_container">
                        <form class="form_emotion" method="post" action=".">{% csrf_token %}
                            <input name="emotion" type="submit" value="좋아요" tag="E1">
                            <input name="emotion" type="submit" value="멋져요" tag="E2">
                            <input name="post_key" type="hidden" value="${ post.id }">
                            <div class="fb-like" data-href="http://podiumconcept.me/post/${ post.id }/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                        </form>
                    </div>
                </section>
                <section class="p_comment">
                    <ul class="p_commentList" id="commentList${ post.id }">
                    </ul>
                    <form id="form_comment" method="post" action=".">{% csrf_token %}
                        <div class="p_commentForm">
                            <input name="post_key" type="hidden" value="${ post.id }">
                            <span class="commentProfile">
                                {% templatetag openblock %}if post.user.user_photo.length > 0{% templatetag closeblock %}
                                    <img src="${ post.user.user_photo[0].picture }" alt="${ post.user.user_photo[0].name }" class="userPicture"/>
                                {% templatetag openblock %}else{% templatetag closeblock %}
                                    <img src="{{ STATIC_URL }}images/user_defaultProfile.jpg" alt="기본 프로필 사진" class="userPicture"/>
                                {% templatetag openblock %}/if{% templatetag closeblock %}
                            </span><input name="comment" type="text" class="commentFormText" placeholder="댓글을 입력하세요">
                        </div>
                    </form>
                </section>
            </aside>
        </div>
    </div>
</script>
<script id="comment_template" type="text/x-jquery-tmpl">
    <li>
        <strong class="commentAuthor">
            <a href="/people/${ user.id }">
                <span class="commentProfile">
                    {% templatetag openblock %}if user.user_photo.length > 0{% templatetag closeblock %}
                        <img src="${ user.user_photo[0].picture }" alt="${ user.user_photo[0].name }" class="userPicture"/>
                    {% templatetag openblock %}else{% templatetag closeblock %}
                        <img src="{{ STATIC_URL }}images/user_defaultProfile.jpg" alt="기본 프로필 사진" class="userPicture"/>
                    {% templatetag openblock %}/if{% templatetag closeblock %}
                </span>
                ${ user.username }
            </a>
        </strong>
        ${ comment }
        <a href="/post/${ post_id }/" class="timestamp">/ <abbr class="timeago" title=${ created }></abbr></a>
    </li>
</script>
<script id="poll_template" type="text/x-jquery-tmpl">
    <li data-length="${ users.length }">
        <span class="graphBG"></span>
        <div class="pollItem cboth"><span class="option-label">${ label }</span><span class="user-count tooltip-parent tooltip-hover">${ users.length }명</span></div>
    </li>
</script>
<script id="file_template" type="text/x-jquery-tmpl">
    <div class="fileItem"><strong>${ label }</strong><span class="tooltip-parent tooltip-hover">${ users.length }</span></div>
</script>

{% block add_scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/center_approval_submit.js"></script>
{% endblock %}
