<script id="post_public_template" type="text/x-jquery-tmpl">
    <div class="p_tItem p_container public">
        <a href="/people/${ post.user.id }" class="p_tUser p_tIcon"></a>
        <div class="p_tBox">
            <article class="p_tArticle">
                <div class="p_container">
                    <p class="p_tUserName">
                        <a href="/people/${ post.user.id }">${ post.user.username }</a>
                        {% templatetag openblock %}if post.open_scope == 2{% templatetag closeblock %}
                            > <a href="/people/${ post.target_user_id }">${ post.target_user_name }</a>
                        {% templatetag openblock %}else post.open_scope == 3{% templatetag closeblock %}
                            > <a href="/group/${ post.group_id }">${ post.group_name }</a>
                        {% templatetag openblock %}/if{% templatetag closeblock %}
                    </p>
                    <div class="p_tText">
                        <p>${ post.post }</p>
                    </div>
                    <p class="p_tPermalink public"><a class="timestamp" href="#"><abbr class="timeago" title=${ post.created }></abbr></a></p>
                </div>
            </article>
            <aside class="p_tAside">
                <header class="p_responses">
                    <div class="p_container">
                        <p class="p_emotion"><a href="#"><strong>감정</strong>/ ${ post.emotion_count }</a></p>
                        <p class="p_comment"><a href="#"><strong>댓글</strong>/ ${ post.comment_count }</a></p>
                    </div>
                </header>
                <section class="p_emotion">
                    <div class="p_container">
                        <form class="form_emotion" method="post" action=".">{% csrf_token %}
                            <input name="emotion" type="submit" value="좋아요" tag="E1">
                            <input name="emotion" type="submit" value="멋져요" tag="E2">
                            <input name="post_key" type="hidden" value="${ post.id }">
                        </form>
                    </div>
                </section>
                <section class="p_comment">
                    <ul class="p_commentList" id="commentList${ post.id }">
                        <li>
                            <strong class="commentAuthor"><a href="#"><span class="commentProfile"></span>최태건</a></strong>
                            Hello, world!<br />
                            Hello??<br />
                            Helllllllllo<br />
                            코멘트 예제 <a href="#" class="timestamp">/ 2시간 전</a>
                        </li>
                    </ul>
                    <form id="form_comment" method="post" action=".">{% csrf_token %}
                        <div class="p_commentForm">
                            <input name="post_key" type="hidden" value="${ post.id }">
                            <span class="commentProfile"></span><input name="comment" type="text" class="commentFormText" placeholder="댓글을 입력하세요">
                        </div>
                    </form>
                </section>
            </aside>
        </div>
    </div>
</script>
<script id="comment_template" type="text/x-jquery-tmpl">
    <li>
        <strong class="commentAuthor"><a href="/people/${ user.id }"><span class="commentProfile"></span>${ user.username }</a></strong>
        ${ comment }
        <a href="#" class="timestamp">/ <abbr class="timeago" title=${ created }></abbr></a>
    </li>
</script>