{% extends "_base.html" %}

{% block title %}
{% endblock %}

{% block content %}

    <section id="p_timeline">
        <header>
            <div id="p_peopleCover">
                <div id="p_peopleName">
                    <span id="p_peoplePicture">
                        {% with user_pageowner.userpictures_set.all|first as userpicture %}
                            {% if userpicture %}
                                <img src="{{ userpicture.picture }}" alt="{{ userpicture.name }}" class="peoplePicture" />
                            {% else %}
                                <img src="{{ STATIC_URL }}images/user_defaultProfile.jpg" alt="기본 프로필 사진" class="peoplePicture" />
                            {% endif %}
                        {% endwith %}
                    </span>
                    <h1>{{ user_pageowner.username }}</h1>
                    <p id="friendStatus">
                    </p>
                </div>
            </div>
        </header>
        <div id="p_profileContents" class="p_container">
            <div class="p_pageInfo">
                <h2>Profile</h2>
                <div class="infoBox">
                    <h3>개인정보</h3>
                    <ul>
                        {% if user == user_pageowner %}
                            <li id="profile_sex" class="editProfile cboth">
                                <strong>성별</strong>
                                <p class="formButton"><a href="#" class="f_submit">수정</a><a href="#" class="f_cancel">취소</a></p>
                                <p class="data">{% if user.userprofile.sex == 1 %} 남자 {% elif user.userprofile.sex == 2 %} 여자 {% else %} 비공개 {% endif %}</p>
                                <p class="form"><input type="radio" name="sex" id="f_male" value="1" {% if user.userprofile.sex == 1 %}checked="checked"{% endif %}><label for="f_male">남</label> <input type="radio" name="sex" id="f_female" value="2" {% if user.userprofile.sex == 2 %}checked="checked"{% endif %}><label for="f_female">여</label> <input type="radio" name="sex" id="f_null" value="" {% if user.userprofile.sex == null %}checked="checked"{% endif %}><label for="f_null">비공개</label></p>
                            </li>
                            <li id="profile_birthday" class="editProfile cboth">
                                <strong>생일</strong>
                                <p class="formButton"><a href="#" class="f_submit">수정</a><a href="#" class="f_cancel">취소</a></p>
                                <p class="data">{% if user.userprofile.birthday != "" %}{{ user.userprofile.birthday }}{% else %} 비공개 {% endif %}</p>
                                <p class="form"><input type="date" name="birthday" id="f_birthday" value="{% if user.userprofile.birthday != "" %}{{ user.userprofile.birthday|date:"Y-m-d" }}{% endif %}"></p>
                            </li>
                            <li id="profile_address" class="editProfile cboth">
                                <strong>주소</strong>
                                <p class="formButton"><a href="#" class="f_submit">수정</a><a href="#" class="f_cancel">취소</a></p>
                                <p class="data">{% if user.userprofile.address != "" %}{{ user.userprofile.address }}{% else %} 비공개 {% endif %}</p>
                                <p class="form"><input type="text" name="address" id="f_address" value="{% if user.userprofile.address != "" %}{{ user.userprofile.address }}{% endif %}"></p>
                            </li>
                            <li id="profile_phone" class="editProfile cboth">
                                <strong>전화번호</strong>
                                <p class="formButton"><a href="#" class="f_submit">수정</a><a href="#" class="f_cancel">취소</a></p>
                                <p class="data">{% if user.userprofile.phone != "" %}{{ user.userprofile.phone }}{% else %} 비공개 {% endif %}</p>
                                <p class="form"><input type="tel" name="phone" id="f_phone" value="{% if user.userprofile.phone != "" %}{{ user.userprofile.phone }}{% endif %}"></p>
                            </li>
                        {% else %}
                            <li id="profile_sex">
                                <strong>성별</strong>
                                <p class="data">{% if user_pageowner.userprofile.sex == 1 %} 남자 {% elif user_pageowner.userprofile.sex == 2 %} 여자 {% else %} 비공개 {% endif %}</p>
                            </li>
                            <li id="profile_birthday">
                                <strong>생일</strong>
                                <p class="data">{% if user_pageowner.userprofile.birthday != "" %}{{ user_pageowner.userprofile.birthday }}{% else %} 비공개 {% endif %}</p>
                            </li>
                            <li id="profile_address">
                                <strong>주소</strong>
                                <p class="data">{% if user_pageowner.userprofile.address != "" %}{{ user_pageowner.userprofile.address }}{% else %} 비공개 {% endif %}</p>
                            </li>
                            <li id="profile_phone">
                                <strong>전화번호</strong>
                                <p class="data">{% if user_pageowner.userprofile.phone != "" %}{{ user_pageowner.userprofile.phone }}{% else %} 비공개 {% endif %}</p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="infoBox">
                    <h3>고등학교</h3>
                    {% if user.usertohobby_set.all %}
                    <ul>
                        <li>비공개</li>
                    </ul>
                    {% else %}
                    <ul>
                        <li>비공개</li>
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="p_timelineContents">
                <section id="timeline_widget">
                    <div class="p_tItem p_container">
                        <a href="#" class="p_tAdd p_tIcon"></a>

                        <div class="p_tBox pui">
                            <ul class="writeSelect cboth">
                                <li id="toPlain" class="selected"><a href="#">Plain Text</a></li>
                                <li id="toRich"><a href="#">Rich Text</a></li>
                            </ul>
                            <section class="p_postForm">
                                <div id="plainTextInput">
                                    <form id="form_post" method="post" action="">{% csrf_token %}
                                        <textarea class="postFormText" id="post" name="post" placeholder="네 인생을 낭비해!!!"></textarea>
                                        <ul class="attachSelect pui cboth">
                                            <li>ADD</li>
                                            <li class="wPhoto disabled"><a href="#" class="tooltip-parent tooltip-hover"><span
                                                    class="tooltip tooltip-bottom">Photo</span></a></li>
                                            <li class="wVideo"><a href="#" class="tooltip-parent tooltip-hover"><span
                                                    class="tooltip tooltip-bottom">Video</span></a></li>
                                            <li class="wFile"><a href="#" class="tooltip-parent tooltip-hover"><span
                                                    class="tooltip tooltip-bottom">File</span></a></li>
                                            <li class="wPoll"><a href="#" class="tooltip-parent tooltip-hover"><span
                                                    class="tooltip tooltip-bottom">Poll</span></a></li>
                                            <li class="wCode"><a href="#" class="tooltip-parent tooltip-hover"><span
                                                    class="tooltip tooltip-bottom">Code</span></a></li>
                                            <li class="wEvent disabled"><a href="#" class="tooltip-parent tooltip-hover"><span
                                                    class="tooltip tooltip-bottom">Event</span></a></li>
                                        </ul>
                                        <div id="postAttach"></div>
                                        <div class="postTools cboth">
                                            <p class="postOptions">
                                                {% if user_pageowner != user %}
                                                    <input type="hidden" name="target_user" value="{{ user_pageowner.id }}">
                                                {% endif %}
                                                <label class="text">공개범위</label>
                                                <select name="open_scope" value="공개범위">
                                                    <optgroup label="친구에게">
                                                        <option value="public">공개</option>
                                                        <option value="private">비공개</option>
                                                    </optgroup>
                                                </select>
                                            </p>
                                            <input type="submit" class="postFormSubmit" value="작성">
                                        </div>
                                    </form>
                                </div>
                                <div id="richTextInput">
                                    <form id="form_post_rich" method="post" action="">{% csrf_token %}
                                        <textarea class="postFormText" id="post_rich" name="post_rich"
                                                  placeholder="네 인생을 낭비해!!!"></textarea>

                                        <div class="postTools cboth">
                                            <p class="postOptions">
                                                {% if user_pageowner != user %}
                                                    <input type="hidden" name="target_user" value="{{ user_pageowner.id }}">
                                                {% endif %}
                                                <label class="text">공개범위</label>
                                                <select name="open_scope" value="공개범위">
                                                    <optgroup label="친구에게">
                                                        <option value="public">공개</option>
                                                        <option value="private">비공개</option>
                                                    </optgroup>
                                                </select>
                                            </p>
                                            <input type="submit" class="postFormSubmit" value="작성">
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                    </div>
                </section>
                <section id="timeline_posts">
                </section>
            </div>
        </div>
    </section>

    <input name="friend_id" id="friend_id" type="hidden" value="{{ user_pageowner.id }}">
    <input name="friend_profile_id" id="friend_profile_id" type="hidden" value="{{ user_pageowner.userprofile.id }}">

{% endblock %}

{% block add_scripts %}
    <script type="text/javascript">
        var get_friend_list = function(){
            var feedback_url = "/api/v1/friendship/?user={{ user_pageowner.id }}";
            $.ajax({
                type: "GET",
                url: feedback_url,
                contentType: "application/json",
                dataType: "json",
                statusCode: {
                    200: function (data) {
                        // TODO(태건형) - 친구목록
                        // model - friendships - 친구는 friend_user field - user model
                        console.log(data);
                    }
                }
            });
        };
        get_friend_list();

        var request_friendship = function(){
            $('#addFriend').click(function() {
                var request_friend_url = "/api/v1/friend_noti/";
                var data = JSON.stringify({
                    "friend_id": {{ user_pageowner.id }}
                });
                $("#friendStatus").html('<span class="friend">요청 중</span>');
                $.ajax({
                    type: "POST",
                    url: request_friend_url,
                    contentType: "application/json",
                    data: data,
                    dataType: "json",
                    statusCode: {
                        201: function() {
                           showToast("친구 요청을 보냈습니다");
                        },
                        400: function(data) {
                            showToast($.parseJSON(data.responseText).error);
                            check_friendship();
                        }
                    }
                });
            });
        };

        var delete_friendship_noti = function(noti_id){
            var request_friend_url = "/api/v1/friend_noti/?pk="+noti_id;
            $.ajax({
                type: "DELETE",
                url: request_friend_url,
                contentType: "application/json",
                dataType: "json",
                statusCode: {
                    201: function (data) {
                    }
                }
            });
        };

        var accept_friendship = function(noti_id){
            $('#addFriend').click(function() {
                var request_friend_url = "/api/v1/friendship/";
                var data = JSON.stringify({
                    "friend_id": {{ user_pageowner.id }}
                });

                $("#friendStatus").html('<span class="friend">친구</span>');
                $.ajax({
                    type: "POST",
                    url: request_friend_url,
                    contentType: "application/json",
                    data: data,
                    dataType: "json",
                    statusCode: {
                        201: function () {
                            delete_friendship_noti(noti_id);
                            showToast("친구 요청을 수락하였습니다");
                            get_friendship_notis(); // sidebar - 친구 요청 poll
                        },
                        400: function(data) {
                            showToast($.parseJSON(data.responseText).error);
                            check_friendship();
                        }
                    }
                });
            });
        };

        var check_accept_friend_request = function(){
            var feedback_url = "/api/v1/friend_noti/?noti_from_user={{ user_pageowner.id }}&noti_to_user={{ user.id }}";
            $.ajax({
                type: "GET",
                url: feedback_url,
                contentType: "application/json",
                dataType: "json",
                statusCode: {
                    200: function (data) {
                        if(data.meta.total_count) {
                            $("#friendStatus").html('<a id="addFriend">친구 수락</a>');
                            var noti_id = data.objects.pop().id;
                            accept_friendship(noti_id);
                            return false;
                        }
                        else {
                            $("#friendStatus").html('<a id="addFriend">친구 요청</a>');
                            request_friendship();
                            return false;
                        }
                    }
                }
            });
        };

        var check_friendship_noti = function(){
            var feedback_url = "/api/v1/friend_noti/?noti_from_user={{ user.id }}&noti_to_user={{ user_pageowner.id }}";
            $.ajax({
                type: "GET",
                url: feedback_url,
                contentType: "application/json",
                dataType: "json",
                statusCode: {
                    200: function (data) {
                        if(data.meta.total_count) {
                            $("#friendStatus").html('<span class="friend">요청 중</span>');
                        }
                        else {
                            check_accept_friend_request();
                        }
                    }
                }
            });
        };

        var check_friendship = function() {
            if ({{ user_pageowner.id }} == {{ user.id }}){
                return false;
            }

            var request_friend_url = "/api/v1/friendship/?friend_user={{ user_pageowner.id }}&user={{ user.id }}";
            $.ajax({
                type: "GET",
                url: request_friend_url,
                contentType: "application/json",
                dataType: "json",
                statusCode: {
                    200: function (data) {
                        /*post로 Noti 생성한 후 json response*/
                        if(data.meta.total_count) {
                            $("#friendStatus").html('<span class="friend">친구</span>');
                        }
                        else {
                            disable_form();
                            check_friendship_noti();
                        }
                    }
                }
            });
        };
        check_friendship();

        var disable_form = function() {
            $("#timeline_widget").remove();
        };

        var api_path = "/api/v1/";
        var post_type = "friendposts";

        // timeline.js의 arg : top polling url의 parameter
        var timeline_js_parameter_top_post_polling = "user__id={{ user_pageowner.id }}&post__open_scope__in=2&post__open_scope__in=0";
        console.log("timeline_js_parameter_top_post_polling = " + timeline_js_parameter_top_post_polling);
    </script>
    {% include 'post_public.html' %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/timeline.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/info.js"></script>
{% endblock %}