<script id="post_public_template" type="text/x-jquery-tmpl">
    <div class="p_tItem p_container pui
    {% templatetag openblock %}if group != null{% templatetag closeblock %}
        project
    {% templatetag openblock %}/if{% templatetag closeblock %}

    {% templatetag openblock %}if open_scope == 1{% templatetag closeblock %}
        private
    {% templatetag openblock %}else{% templatetag closeblock %}
        public
    {% templatetag openblock %}/if{% templatetag closeblock %}
    ">
        <a href="/people/${ user.id }" class="p_tUser">
            <span class="nav_profile">
                {% templatetag openblock %}if user.user_photo.length > 0{% templatetag closeblock %}
                    <img src="${ user.user_photo[0].picture }" alt="${ user.user_photo[0].name }" class="userPicture"/>
                {% templatetag openblock %}else{% templatetag closeblock %}
                    <img src="{{ STATIC_URL }}images/user_defaultProfile.jpg" alt="기본 프로필 사진" class="userPicture"/>
                {% templatetag openblock %}/if{% templatetag closeblock %}
            </span>
        </a>
        <div class="p_tBox">
            <article class="p_tArticle">
                <div class="p_container">
                    <p class="p_tUserName">
                        <a href="/people/${ user.id }">${ user.username }</a>
                        {% templatetag openblock %}if open_scope == 2{% templatetag closeblock %}
                            > <a href="/people/${ target_user_id }">${ target_user_name }</a>
                        {% templatetag openblock %}/if{% templatetag closeblock %}

                        {% templatetag openblock %}if open_scope == 3{% templatetag closeblock %}
                            > <a href="/group/${ group_id }">${ group_name }</a>
                        {% templatetag openblock %}/if{% templatetag closeblock %}
                    </p>
                    <div class="p_tText">
                        {% templatetag openblock %}html post{% templatetag closeblock %}
                    </div>
                    {% templatetag openblock %}if attachment_type == 2{% templatetag closeblock %}
                        <div id="video-${ id }" class="p_attachment p_video_unloaded">
                        </div>
                    {% templatetag openblock %}/if{% templatetag closeblock %}

                    {% templatetag openblock %}if attachment_type == 3{% templatetag closeblock %}
                        <div id="file-${ id }" class="p_attachment p_file_unloaded">
                        </div>
                    {% templatetag openblock %}/if{% templatetag closeblock %}

                    {% templatetag openblock %}if attachment_type == 4{% templatetag closeblock %}
                        <ul id="poll-${ id }" class="p_attachment p_poll_unloaded">
                        </ul>
                    {% templatetag openblock %}/if{% templatetag closeblock %}
                    <p class="p_tPermalink public"><a class="timestamp" href="#"><abbr class="timeago" title=${ created }></abbr></a></p>
                    <div class="fb-like" data-href="http://podiumconcept.me/post/${ post.id }/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </div>
            </article>
            <aside class="p_tAside">
                <header class="p_responses">
                    <div class="p_container">
                        <p class="p_emotion"><a href="#"><strong>감정</strong>/ ${ emotion_count }</a></p>
                        <p class="p_comment"><a href="#"><strong>댓글</strong>/ ${ comment_count }</a></p>
                    </div>
                </header>
                <section class="p_emotion">
                    <div class="p_container">
                        <form class="form_emotion" method="post" action=".">{% csrf_token %}
                            <input name="emotion" type="submit" value="좋아요" tag="E1">
                            <input name="emotion" type="submit" value="멋져요" tag="E2">
                            <input name="post_key" type="hidden" value="${ id }">
                        </form>
                    </div>
                </section>
                <section class="p_comment">
                    <ul class="p_commentList" id="commentList${ id }">
                    </ul>
                    <form id="form_comment" method="post" action=".">{% csrf_token %}
                        <div class="p_commentForm">
                            <input name="post_key" type="hidden" value="${ id }">
                            <span class="commentProfile">
                                {% templatetag openblock %}if user.user_photo.length > 0{% templatetag closeblock %}
                                    <img src="${ user.user_photo[0].picture }" alt="${ user.user_photo[0].name }" class="userPicture"/>
                                {% templatetag openblock %}else{% templatetag closeblock %}
                                    <img src="{{ STATIC_URL }}images/user_defaultProfile.jpg" alt="기본 프로필 사진" class="userPicture"/>
                                {% templatetag openblock %}/if{% templatetag closeblock %}
                            </span><input name="comment" type="text" class="commentFormText" placeholder="댓글을 입력하세요">
                        </div>
                    </form>
                </section>
            </aside>
        </div>
    </div>
</script>
<script id="comment_template" type="text/x-jquery-tmpl">
    <li>
        <strong class="commentAuthor">
            <a href="/people/${ user.id }">
                <span class="commentProfile">
                    {% templatetag openblock %}if user.user_photo.length > 0{% templatetag closeblock %}
                        <img src="${ user.user_photo[0].picture }" alt="${ user.user_photo[0].name }" class="userPicture"/>
                    {% templatetag openblock %}else{% templatetag closeblock %}
                        <img src="{{ STATIC_URL }}images/user_defaultProfile.jpg" alt="기본 프로필 사진" class="userPicture"/>
                    {% templatetag openblock %}/if{% templatetag closeblock %}
                </span>
                ${ user.username }
            </a>
        </strong>
        ${ comment }
        <a href="#" class="timestamp">/ <abbr class="timeago" title=${ created }></abbr></a>
    </li>
</script>
<script id="poll_template" type="text/x-jquery-tmpl">
    <li data-length="${ users.length }">
        <span class="graphBG"></span>
        <div class="pollItem cboth"><span class="option-label">${ label }</span><span class="user-count tooltip-parent tooltip-hover">${ users.length }명</span></div>
    </li>
</script>
<script id="file_template" type="text/x-jquery-tmpl">
    <div class="fileItem"><strong>${ label }</strong><span class="tooltip-parent tooltip-hover">${ users.length }</span></div>
</script>